<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.webp">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div class="main-content">
        {{>header}}

    <p>{{helptext}}</p>
    <ul>
        <li><strong>Home:</strong> Go back to the <a href="/">home page</a>.</li>
        <li><strong>About:</strong> Learn more about us on the <a href="/about">about page</a>.</li>
        <li><strong>Weather:</strong> Check the weather by going to the <a href="/">weather page</a> and entering your location.</li>
    </ul>

    </div>

    

    {{>footer}}

</body>
</html>